{% extends 'home.html' %}

{% load humanize %}

{% block title %}
    Order
{% endblock %}

{% block body %}
    <div class="container my-5 mx-auto d-flex justify-content-center row"style="width: 900px">

        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">{{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" arialabel="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        
        <div class="card mb-5">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col-lg-3">
                        {% if products.image %}
                            <img src="/static/image/{{products.image}}" width="200px" class="my-3">
                        {% endif %}
                    </div>
    
                    <div class="col-lg-8 offset-lg-1 mt-3">
                        <h3 class="mb-3">{{ products.name }}</h3>
    
                        <p class="card-title mb-3">Category : {{ products.category }}</p>
    
                        <p class="card-text mb-3">Description : {{ products.description }}</p>
    
                        <p class="card-text mb-3">Price : {{ products.price }} MMK</p>

                        <form method="POST" action="/app/order/{{products.id}}/">
                            {% csrf_token %}
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                  <label for="quantity" class="col-form-label">Quantity : </label>
                                </div>
                                <div class="col-auto">
                                  <input type="number" name="quantity" id="quantity" class="form-control" placeholder="0" aria-describedby="passwordHelpInline" required>
                                </div>
                            </div>

                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                  <label for="address" class="col-form-label">Address : </label>
                                </div>
                                <div class="col-auto">
                                  <input type="text" name="address" id="address" class="form-control" placeholder="No.30, 1-Ward, Hledan Rd." aria-describedby="passwordHelpInline" required>
                                </div>
                            </div>

                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                  <label for="city" class="col-form-label">City : </label>
                                </div>
                                <div class="col-auto">
                                  <input type="text" name="city" id="city" class="form-control" placeholder="Kamayut" aria-describedby="passwordHelpInline" required>
                                </div>
                            </div>

                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                  <label for="state" class="col-form-label">State : </label>
                                </div>
                                <div class="col-auto">
                                  <input type="text" name="state" id="state" class="form-control" placeholder="Yangon" aria-describedby="passwordHelpInline" required>
                                </div>
                            </div>

                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                  <label for="phone" class="col-form-label">Phone : </label>
                                </div>
                                <div class="col-auto">
                                  <input type="number" name="phone" id="phone" class="form-control" placeholder="09xxxxxxx" aria-describedby="passwordHelpInline" required>
                                </div>
                            </div>

                            <button class="btn btn-success mt-3" type="submit">Send Order</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </div>
{% endblock %}